  
<html>
    <head>
        <title>Chat Room</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function() {
    
                var socket = io.connect('http://127.0.0.1:5000');
    
                socket.on('connect', function() {
                    socket.send('User has connected!');
                });
    
                socket.on('message', function(msg) {
                    $("#messages").append('<li>'+msg+'</li>');
                });
    
                $('#sendbutton').on('click', function() {
                    socket.send($('#myMsg').val());
                    $('#myMsg').val('');
                });
    
            });
        </script>
        <!-- <h1>Welcome {{ username.name }}</h1> -->
        <div id="messages"></div>
        <input type="text" id="myMsg">
        <button id="sendbutton">Send</button>
    </body>
</html>